<!-- <div class="navbar" *ngFor="let parent of output">
  <div class="dropdown">
    <button class="dropbtn">{{parent.name}} 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="row">
        <div class="column"  *ngFor="let group of parent.value;">
          <h3>{{group.name}}</h3>
          <a href="#" *ngFor="let category of group.value;">{{category.category_name}}</a>
        </div>
      </div>
    </div>
  </div> 
</div> -->
<app-tab></app-tab>

<!-- 
<app-table></app-table> -->